.home {
  margin: 0px;
  padding: 0px;
  width: 100%;
  /* background-image: linear-gradient(
    0deg,
    rgb(235, 81, 202),
    rgb(236, 131, 235),
    rgb(237, 185, 244)
  ); */
  background-color: rgb(251, 251, 251);
}
.links {
  text-decoration: none;
  color: black;
}
.mtitle h2 {
  text-align: center;
  margin: 0px;
  padding: 15px 0px 15px 0px;
  font-size: 30px;
}

/* .titles {
  background-image: linear-gradient(
    0deg,
    rgb(148, 18, 148),
    rgb(206, 40, 159),
    rgb(246, 113, 213)
  );

  max-height: 3rem;
  margin: 0px;
  padding: 5px;
  text-align: center;
} */
.centered {
  margin: 0px;
  font-size: 30px;
  color: rgb(255, 253, 250);
  z-index: 5;
  position: absolute;
}
.tiles {
  /* background-image: linear-gradient(
    0deg,
    rgb(235, 81, 202),
    rgb(236, 131, 235),
    rgb(237, 185, 244)
  ); */
  background-color: aliceblue;
  margin: auto;
  margin: 20px;
  min-width: 15rem;
  text-align: center;
  height: 13rem;
  position: relative;
  /* display: flex; */
}
.tiles:hover {
  outline: 5px solid darkblue;
}

.tiles img {
  z-index: 1;
  min-width: 15rem;
  height: 13rem;
  border-radius: 10px;
}
.icons {
  text-align: center;
  padding: 10px;
}
.body {
  background-color: rgb(64, 153, 159);
  display: flex;
  flex-direction: row;
  padding: 50px;
  /* align-content: center; */
  align-items: center;
  height: 90vh;
}
.body table {
  width: 80%;
  text-align: center;
  align-content: center;
  padding-left: 5rem;
}
.body th {
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 20px;
}
.body tr {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  height: 8rem;
}
