.outer {
  align-items: center;
  background-image: linear-gradient(90deg, #04033acd, #595962cd);
  height: 100vh;
}
.innert {
  width: fit-content;
  font-size: 50px;
  margin: auto;
  /* padding-left: 45rem; */
  background-color: rgba(0, 0, 0, 0.553);
  border-radius: 10px;
  /* padding-bottom: 10px; */
}
.name h3 {
  padding-left: 30%;
  margin: 0%;
}
.innert input {
  width: 50%;
  height: 45px;
  margin: 10px 10px 0px 10px;
  border-radius: 10px;
  background-color: aliceblue;
  font-size: 25px;
  font-weight: bolder;
  border: none;
  outline: none;
  /* padding-left: 8px; */
}
.table {
  align-content: center;
  width: fit-content;
  font-size: 50px;
  margin: auto;
}
.table th {
  align-content: center;
}
.table p {
  font-size: 30px;
  color: white;
}
.temp {
  cursor: pointer;
  width: 140px;
  height: 40px;
  margin: 20px;
  border-radius: 15px;
  border: none;
  background-color: rgba(0, 140, 255, 0.879);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  font-weight: bolder;
}

.temp:hover {
  opacity: 0.8;
}
.rowconvert {
  text-align: center;
}

.convert {
  background-color: rgb(4, 170, 7);
  color: aliceblue;
  cursor: pointer;
  width: 130px;
  height: 30px;
  margin: 20px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  font-weight: bolder;

  /* width: 100%; */
}
.convert:hover {
  opacity: 0.8;
}
.reset {
  margin: 0px;
  cursor: pointer;
  width: 130px;
  height: 30px;
  margin-left: 20px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  font-weight: bolder;
}
.reset:hover {
  background-color: black;
  color: white;
}
.tempinput {
  display: flex;
}
.tempinput p {
  margin: 0%;
  padding: 15px 0px;
  padding-left: 10px;
  font-size: 30px;
  color: white;
}
